{% extends "siteapp/base.html" %}
{% block title %}categories{% endblock %}
{% load static %}
{% block body %}
<div class="cat">
{% for c in cat %}
    <center>
        <h3>{{c.name}}</h3>
    {% if user.is_authenticated %}
        {% if c.id in mycat %}
            <button class="ui button greay un follow" id="{{c.id}}">unfollow</button>
        {%else%}
            <button class="ui button orange follow" id="{{c.id}}">follow</button>
        {%endif%}
    {%endif%}
    </center>
{% endfor %}
    </div>
{% endblock %}
{% block js %}<script src="{% static 'js/home.js' %}"></script>{% endblock %}

