{% extends "siteapp/base.html" %}
{% block title %}home Page{% endblock %}
{% load static %}
{% block body %}
<div class="ui main container">

    <div class="ui grid">

        <div class="sixteen wide column">
            <div class="ui piled segment">
                <a class="ui green ribbon huge label">Recommended</a>

                <div class="ui tow cards" style="margin: 20px">
                    <div class="card ">
                        <div class="content">
                            <div class="ui grid">
                                <div class="image column eight wide column nop ">
                                    <img src="{% static 'images/book.jpg' %}" class="fitimg">
                                </div>

                                <div class=" eight wide column p1 no ">
                                    <div class="content">
                                    <div class=" ui large star rating row" data-rating="2"></div>
                                        <h4 class="header smm">ktabb</h4>
                                        <div class="meta">by rrr</div>
                                        <div class="description " >cnncjn cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="extra content">
                                    <span class="left floated like">
                                      <i class=" like icon"></i>

                                    </span>
                                    <span class="ui basic right floated no dropdown button fitimg nop">
                                        <div class="text">Mark As</div>
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                          <div class="item">This Organization</div>
                                          <div class="item">Entire Site</div>
                                        </div>
                                      </span>
                        </div>
                    </div>
                    <div class="card ">
                        <div class="content">
                            <div class="ui grid">
                                <div class="image column eight wide column nop ">
                                    <img src="{% static 'images/book.jpg' %}" class="fitimg">
                                </div>

                                <div class=" eight wide column p1 no ">
                                    <div class="content">
                                    <div class=" ui large star rating row" data-rating="2"></div>
                                        <h4 class="header smm">ktabb</h4>
                                        <div class="meta">by rrr</div>
                                        <div class="description " >cnncjn cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="extra content">
                                    <span class="left floated like">
                                      <i class=" like icon"></i>

                                    </span>
                                    <span class="ui basic right floated no dropdown button fitimg nop">
                                        <div class="text">Mark As</div>
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                          <div class="item">This Organization</div>
                                          <div class="item">Entire Site</div>
                                        </div>
                                      </span>
                        </div>
                    </div>
                    <div class="card ">
                        <div class="content">
                            <div class="ui grid">
                                <div class="image column eight wide column nop ">
                                    <img src="../../static/images/book.jpg" class="fitimg">
                                </div>

                                <div class=" eight wide column p1 no ">
                                    <div class="content">
                                    <div class=" ui large star rating row" data-rating="2"></div>
                                        <h4 class="header smm">ktabb</h4>
                                        <div class="meta">by rrr</div>
                                        <div class="description " >cnncjn cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="extra content">
                                    <span class="left floated like">
                                      <i class=" like icon"></i>

                                    </span>
                                    <span class="ui basic right floated no dropdown button fitimg nop">
                                        <div class="text">Mark As</div>
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                          <div class="item">This Organization</div>
                                          <div class="item">Entire Site</div>
                                        </div>
                                      </span>
                        </div>
                    </div>
                    <div class="card ">
                        <div class="content">
                            <div class="ui grid">
                                <div class="image column eight wide column nop ">
                                    <img src="../../static/images/book.jpg" class="fitimg">
                                </div>

                                <div class=" eight wide column p1 no ">
                                    <div class="content">
                                    <div class=" ui large star rating row" data-rating="2"></div>
                                        <h4 class="header smm">ktabb</h4>
                                        <div class="meta">by rrr</div>
                                        <div class="description " >cnncjn cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="extra content">
                                    <span class="left floated like">
                                      <i class=" like icon"></i>

                                    </span>
                                    <span class="ui basic right floated no dropdown button fitimg nop">
                                        <div class="text">Mark As</div>
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                          <div class="item">This Organization</div>
                                          <div class="item">Entire Site</div>
                                        </div>
                                      </span>
                        </div>
                    </div>



                </div>



            </div>
            <div class="ui grid">
                <div class="eight wide column">
                    <div class="ui piled segment">
                        <a class="ui purple ribbon huge label">New     </a>
                        <div class="ui tow cards" style="margin: 20px">
                            <div class="card ">
                                <div class="content">
                                    <div class="ui grid">
                                        <div class="image column eight wide column nop ">
                                            <img src="../../static/images/book.jpg" class="fitimg">
                                        </div>

                                        <div class=" eight wide column p1 no ">
                                            <div class="content">
                                                <div class=" ui large star rating row" data-rating="2"></div>
                                                <h4 class="header smm">ktabb</h4>
                                                <div class="meta">by rrr</div>
                                                <div class="description " >cnncjn cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div class="extra content">
                                        <span class="left floated like">
                                          <i class=" like icon"></i>

                                        </span>
                                    <span class="ui basic right floated no dropdown button fitimg nop">
                                            <div class="text">Mark As</div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                              <div class="item">This Organization</div>
                                              <div class="item">Entire Site</div>
                                            </div>
                                          </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="ui piled segment ">
                        <a class="ui red ribbon huge label">Popular    </a>
                        <div class="ui tow cards" style="margin: 20px">
                            <div class="card ">
                                <div class="content">
                                    <div class="ui grid">
                                        <div class="image column eight wide column nop ">
                                            <img src="../../static/images/book.jpg" class="fitimg">
                                        </div>

                                        <div class=" eight wide column p1 no ">
                                            <div class="content">
                                                <div class=" ui large star rating row" data-rating="2"></div>
                                                <h4 class="header smm">ktabb</h4>
                                                <div class="meta">by rrr</div>
                                                <div class="description " >cnncjn cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje cje </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div class="extra content">
                                        <span class="left floated like">
                                          <i class=" like icon"></i>

                                        </span>
                                    <span class="ui basic right floated no dropdown button fitimg nop">
                                            <div class="text">Mark As</div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                              <div class="item">This Organization</div>
                                              <div class="item">Entire Site</div>
                                            </div>
                                          </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
{% endblock %}