body {
    background-color: #FFFFFF;
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

.main.container {
    margin-top: 7em;
}

.wireframe {
    margin-top: 2em;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

.ui.main {
    margin-top: 12%;
}

.card {
}

.nop {
    padding: 0px !important;
}

/*not working*/
.fitimg {
    max-width: 100%;
    max-height: 100%;
}

.p1 {
    padding: 1rem;
}
.no {
    border: none!important;
    box-shadow: none !important;
    display: flex !important;
}
.smm {
    margin:4px;
    margin-top: 15px;
}
.auth,.cat {
    margin-top: 20%;
}
.auth h3,.cat h3{
    display: inline-block;
    margin-bottom: 5%;
    width:17%;
    text-align: left;
}
.auth button, .cat button{
    width: 18%;
}
.wr {
    word-wrap: break-word!important;
    overflow-x: hidden;
}
.follow {
    display: inline!important;
}
.sss{
    width: 25rem!important;
}

